:root{
    --background: #FFF8F5;
    --text: #262626;
    --primary: #D03B36;
    --secondary: #447C3E;
    --tertiary: #F9F1EE;
    --sous-infos: #9A9A9A;
    --brown:#773320;
    --font-text: "Raleway", sans-serif;
    --font-title: "Playfair Display", serif;
}

body{
    margin: 0;
    padding: 0;
}

.nav-link{
    text-decoration: none;
}